## Exploracion de la data

In [2]:
# imports
import os
import pandas as pd

In [ ]:
# Ruta a la carpeta de data
DATA_PATH = "../data"

# Listar archivos disponibles en la carpeta de datos
csv_files = [f for f in os.listdir(DATA_PATH) if f.endswith(".csv")]
print("Archivos disponibles:", csv_files)

# Función para explorar un CSV
def explorar_csv(file_name):
    print(f"\n📌 Explorando: {file_name}")
    df = pd.read_csv(os.path.join(DATA_PATH, file_name))
    print("🔹 Dimensiones:", df.shape)
    display(df.head())  # Para Jupyter Notebook
    print("🔹 Tipos de datos:\n", df.dtypes)
    print("🔹 Valores nulos:\n", df.isnull().sum())

# Explorar cada archivo
for file in csv_files:
    explorar_csv(file)

Archivos disponibles: ['circuits.csv', 'constructors.csv', 'constructor_results.csv', 'constructor_standings.csv', 'drivers.csv', 'driver_standings.csv', 'lap_times.csv', 'pit_stops.csv', 'qualifying.csv', 'races.csv', 'results.csv', 'seasons.csv', 'sprint_results.csv', 'status.csv']

📌 Explorando: circuits.csv
🔹 Dimensiones: (77, 9)

,circuitId,circuitRef,name,location,country,lat,lng,alt,url
0,1,albert_park,Albert Park Grand Prix Circuit,Melbourne,Australia,-37.84970,144.96800,10,http://en.wikipedia.org/wiki/Melbourne_Grand_P...
1,2,sepang,Sepang International Circuit,Kuala Lumpur,Malaysia,2.76083,101.73800,18,http://en.wikipedia.org/wiki/Sepang_Internatio...
2,3,bahrain,Bahrain International Circuit,Sakhir,Bahrain,26.03250,50.51060,7,http://en.wikipedia.org/wiki/Bahrain_Internati...
3,4,catalunya,Circuit de Barcelona-Catalunya,Montmeló,Spain,41.57000,2.26111,109,http://en.wikipedia.org/wiki/Circuit_de_Barcel...
4,5,istanbul,Istanbul Park,Istanbul,Turkey,40.95170,29.40500,130,http://en.wikipedia.org/wiki/Istanbul_Park

🔹 Tipos de datos:
 circuitId       int64
circuitRef     object
name           object
location       object
country        object
lat           float64
lng           float64
alt             int64
url            object
dtype: object
🔹 Valores nulos:
 circuitId     0
circuitRef    0
name          0
location      0
country       0
lat           0
lng           0
alt           0
url           0
dtype: int64

📌 Explorando: constructors.csv
🔹 Dimensiones: (212, 5)

,constructorId,constructorRef,name,nationality,url
0,1,mclaren,McLaren,British,http://en.wikipedia.org/wiki/McLaren
1,2,bmw_sauber,BMW Sauber,German,http://en.wikipedia.org/wiki/BMW_Sauber
2,3,williams,Williams,British,http://en.wikipedia.org/wiki/Williams_Grand_Pr...
3,4,renault,Renault,French,http://en.wikipedia.org/wiki/Renault_in_Formul...
4,5,toro_rosso,Toro Rosso,Italian,http://en.wikipedia.org/wiki/Scuderia_Toro_Rosso

🔹 Tipos de datos:
 constructorId      int64
constructorRef    object
name              object
nationality       object
url               object
dtype: object
🔹 Valores nulos:
 constructorId     0
constructorRef    0
name              0
nationality       0
url               0
dtype: int64

📌 Explorando: constructor_results.csv
🔹 Dimensiones: (12625, 5)

   constructorResultsId  raceId  constructorId  points status
0                     1      18              1    14.0     \N
1                     2      18              2     8.0     \N
2                     3      18              3     9.0     \N
3                     4      18              4     5.0     \N
4                     5      18              5     2.0     \N

🔹 Tipos de datos:
 constructorResultsId      int64
raceId                    int64
constructorId             int64
points                  float64
status                   object
dtype: object
🔹 Valores nulos:
 constructorResultsId    0
raceId                  0
constructorId           0
points                  0
status                  0
dtype: int64

📌 Explorando: constructor_standings.csv
🔹 Dimensiones: (13391, 7)

,constructorStandingsId,raceId,constructorId,points,position,positionText,wins
0,1,18,1,14.0,1,1,1
1,2,18,2,8.0,3,3,0
2,3,18,3,9.0,2,2,0
3,4,18,4,5.0,4,4,0
4,5,18,5,2.0,5,5,0

🔹 Tipos de datos:
 constructorStandingsId      int64
raceId                      int64
constructorId               int64
points                    float64
position                    int64
positionText               object
wins                        int64
dtype: object
🔹 Valores nulos:
 constructorStandingsId    0
raceId                    0
constructorId             0
points                    0
position                  0
positionText              0
wins                      0
dtype: int64

📌 Explorando: drivers.csv
🔹 Dimensiones: (861, 9)

,driverId,driverRef,number,code,forename,surname,dob,nationality,url
0,1,hamilton,44,HAM,Lewis,Hamilton,1985-01-07,British,http://en.wikipedia.org/wiki/Lewis_Hamilton
1,2,heidfeld,\N,HEI,Nick,Heidfeld,1977-05-10,German,http://en.wikipedia.org/wiki/Nick_Heidfeld
2,3,rosberg,6,ROS,Nico,Rosberg,1985-06-27,German,http://en.wikipedia.org/wiki/Nico_Rosberg
3,4,alonso,14,ALO,Fernando,Alonso,1981-07-29,Spanish,http://en.wikipedia.org/wiki/Fernando_Alonso
4,5,kovalainen,\N,KOV,Heikki,Kovalainen,1981-10-19,Finnish,http://en.wikipedia.org/wiki/Heikki_Kovalainen

🔹 Tipos de datos:
 driverId        int64
driverRef      object
number         object
code           object
forename       object
surname        object
dob            object
nationality    object
url            object
dtype: object
🔹 Valores nulos:
 driverId       0
driverRef      0
number         0
code           0
forename       0
surname        0
dob            0
nationality    0
url            0
dtype: int64

📌 Explorando: driver_standings.csv
🔹 Dimensiones: (34863, 7)

   driverStandingsId  raceId  driverId  points  position positionText  wins
0                  1      18         1    10.0         1            1     1
1                  2      18         2     8.0         2            2     0
2                  3      18         3     6.0         3            3     0
3                  4      18         4     5.0         4            4     0
4                  5      18         5     4.0         5            5     0

🔹 Tipos de datos:
 driverStandingsId      int64
raceId                 int64
driverId               int64
points               float64
position               int64
positionText          object
wins                   int64
dtype: object
🔹 Valores nulos:
 driverStandingsId    0
raceId               0
driverId             0
points               0
position             0
positionText         0
wins                 0
dtype: int64

📌 Explorando: lap_times.csv
🔹 Dimensiones: (589081, 6)

   raceId  driverId  lap  position      time  milliseconds
0     841        20    1         1  1:38.109         98109
1     841        20    2         1  1:33.006         93006
2     841        20    3         1  1:32.713         92713
3     841        20    4         1  1:32.803         92803
4     841        20    5         1  1:32.342         92342

🔹 Tipos de datos:
 raceId           int64
driverId         int64
lap              int64
position         int64
time            object
milliseconds     int64
dtype: object
🔹 Valores nulos:
 raceId          0
driverId        0
lap             0
position        0
time            0
milliseconds    0
dtype: int64

📌 Explorando: pit_stops.csv
🔹 Dimensiones: (11371, 7)

   raceId  driverId  stop  lap      time duration  milliseconds
0     841       153     1    1  17:05:23   26.898         26898
1     841        30     1    1  17:05:52   25.021         25021
2     841        17     1   11  17:20:48   23.426         23426
3     841         4     1   12  17:22:34   23.251         23251
4     841        13     1   13  17:24:10   23.842         23842

🔹 Tipos de datos:
 raceId           int64
driverId         int64
stop             int64
lap              int64
time            object
duration        object
milliseconds     int64
dtype: object
🔹 Valores nulos:
 raceId          0
driverId        0
stop            0
lap             0
time            0
duration        0
milliseconds    0
dtype: int64

📌 Explorando: qualifying.csv
🔹 Dimensiones: (10494, 9)

,qualifyId,raceId,driverId,constructorId,number,position,q1,q2,q3
0,1,18,1,1,22,1,1:26.572,1:25.187,1:26.714
1,2,18,9,2,4,2,1:26.103,1:25.315,1:26.869
2,3,18,5,1,23,3,1:25.664,1:25.452,1:27.079
3,4,18,13,6,2,4,1:25.994,1:25.691,1:27.178
4,5,18,2,2,3,5,1:25.960,1:25.518,1:27.236

🔹 Tipos de datos:
 qualifyId         int64
raceId            int64
driverId          int64
constructorId     int64
number            int64
position          int64
q1               object
q2               object
q3               object
dtype: object
🔹 Valores nulos:
 qualifyId         0
raceId            0
driverId          0
constructorId     0
number            0
position          0
q1                0
q2               22
q3               46
dtype: int64

📌 Explorando: races.csv
🔹 Dimensiones: (1125, 18)

,raceId,year,round,circuitId,name,date,time,url,fp1_date,fp1_time,fp2_date,fp2_time,fp3_date,fp3_time,quali_date,quali_time,sprint_date,sprint_time
0,1,2009,1,1,Australian Grand Prix,2009-03-29,06:00:00,http://en.wikipedia.org/wiki/2009_Australian_G...,\N,\N,\N,\N,\N,\N,\N,\N,\N,\N
1,2,2009,2,2,Malaysian Grand Prix,2009-04-05,09:00:00,http://en.wikipedia.org/wiki/2009_Malaysian_Gr...,\N,\N,\N,\N,\N,\N,\N,\N,\N,\N
2,3,2009,3,17,Chinese Grand Prix,2009-04-19,07:00:00,http://en.wikipedia.org/wiki/2009_Chinese_Gran...,\N,\N,\N,\N,\N,\N,\N,\N,\N,\N
3,4,2009,4,3,Bahrain Grand Prix,2009-04-26,12:00:00,http://en.wikipedia.org/wiki/2009_Bahrain_Gran...,\N,\N,\N,\N,\N,\N,\N,\N,\N,\N
4,5,2009,5,4,Spanish Grand Prix,2009-05-10,12:00:00,http://en.wikipedia.org/wiki/2009_Spanish_Gran...,\N,\N,\N,\N,\N,\N,\N,\N,\N,\N

🔹 Tipos de datos:
 raceId          int64
year            int64
round           int64
circuitId       int64
name           object
date           object
time           object
url            object
fp1_date       object
fp1_time       object
fp2_date       object
fp2_time       object
fp3_date       object
fp3_time       object
quali_date     object
quali_time     object
sprint_date    object
sprint_time    object
dtype: object
🔹 Valores nulos:
 raceId         0
year           0
round          0
circuitId      0
name           0
date           0
time           0
url            0
fp1_date       0
fp1_time       0
fp2_date       0
fp2_time       0
fp3_date       0
fp3_time       0
quali_date     0
quali_time     0
sprint_date    0
sprint_time    0
dtype: int64

📌 Explorando: results.csv
🔹 Dimensiones: (26759, 18)

,resultId,raceId,driverId,constructorId,number,grid,position,positionText,positionOrder,points,laps,time,milliseconds,fastestLap,rank,fastestLapTime,fastestLapSpeed,statusId
0,1,18,1,1,22,1,1,1,1,10.0,58,1:34:50.616,5690616,39,2,1:27.452,218.300,1
1,2,18,2,2,3,5,2,2,2,8.0,58,+5.478,5696094,41,3,1:27.739,217.586,1
2,3,18,3,3,7,7,3,3,3,6.0,58,+8.163,5698779,41,5,1:28.090,216.719,1
3,4,18,4,4,5,11,4,4,4,5.0,58,+17.181,5707797,58,7,1:28.603,215.464,1
4,5,18,5,1,23,3,5,5,5,4.0,58,+18.014,5708630,43,1,1:27.418,218.385,1

🔹 Tipos de datos:
 resultId             int64
raceId               int64
driverId             int64
constructorId        int64
number              object
grid                 int64
position            object
positionText        object
positionOrder        int64
points             float64
laps                 int64
time                object
milliseconds        object
fastestLap          object
rank                object
fastestLapTime      object
fastestLapSpeed     object
statusId             int64
dtype: object
🔹 Valores nulos:
 resultId           0
raceId             0
driverId           0
constructorId      0
number             0
grid               0
position           0
positionText       0
positionOrder      0
points             0
laps               0
time               0
milliseconds       0
fastestLap         0
rank               0
fastestLapTime     0
fastestLapSpeed    0
statusId           0
dtype: int64

📌 Explorando: seasons.csv
🔹 Dimensiones: (75, 2)

   year                                                url
0  2009  http://en.wikipedia.org/wiki/2009_Formula_One_...
1  2008  http://en.wikipedia.org/wiki/2008_Formula_One_...
2  2007  http://en.wikipedia.org/wiki/2007_Formula_One_...
3  2006  http://en.wikipedia.org/wiki/2006_Formula_One_...
4  2005  http://en.wikipedia.org/wiki/2005_Formula_One_...

🔹 Tipos de datos:
 year     int64
url     object
dtype: object
🔹 Valores nulos:
 year    0
url     0
dtype: int64

📌 Explorando: sprint_results.csv
🔹 Dimensiones: (360, 16)

,resultId,raceId,driverId,constructorId,number,grid,position,positionText,positionOrder,points,laps,time,milliseconds,fastestLap,fastestLapTime,statusId
0,1,1061,830,9,33,2,1,1,1,3,17,25:38.426,1538426,14,1:30.013,1
1,2,1061,1,131,44,1,2,2,2,2,17,+1.430,1539856,17,1:29.937,1
2,3,1061,822,131,77,3,3,3,3,1,17,+7.502,1545928,17,1:29.958,1
3,4,1061,844,6,16,4,4,4,4,0,17,+11.278,1549704,16,1:30.163,1
4,5,1061,846,1,4,6,5,5,5,0,17,+24.111,1562537,16,1:30.566,1

🔹 Tipos de datos:
 resultId           int64
raceId             int64
driverId           int64
constructorId      int64
number             int64
grid               int64
position          object
positionText      object
positionOrder      int64
points             int64
laps               int64
time              object
milliseconds      object
fastestLap        object
fastestLapTime    object
statusId           int64
dtype: object
🔹 Valores nulos:
 resultId          0
raceId            0
driverId          0
constructorId     0
number            0
grid              0
position          0
positionText      0
positionOrder     0
points            0
laps              0
time              0
milliseconds      0
fastestLap        0
fastestLapTime    0
statusId          0
dtype: int64

📌 Explorando: status.csv
🔹 Dimensiones: (139, 2)

   statusId        status
0         1      Finished
1         2  Disqualified
2         3      Accident
3         4     Collision
4         5        Engine

🔹 Tipos de datos:
 statusId     int64
status      object
dtype: object
🔹 Valores nulos:
 statusId    0
status      0
dtype: int64

### 🔍 Análisis de la Data y Necesidad de Limpieza
#### 1️⃣ General
- La mayoría de los archivos no tienen valores nulos, pero algunos presentan problemas que deben manejarse antes de cualquier implementación.
- No hay valores duplicados evidentes en la exploración, pero sería recomendable verificarlos.
#### 2️⃣ Archivos con Posibles Problemas
- 🟠 constructor_results.csv: La columna status contiene valores \N, lo cual sugiere valores faltantes o desconocidos Deberíamos convertirlos a NaN para manejarlos adecuadamente.
- 🟠 drivers.csv: La columna number contiene \N, lo que significa que algunos pilotos no tienen número asignado. Deberíamos convertir esos valores a NaN o un valor especial (-1 si se quiere mantener como numérico).
- 🟠 qualifying.csv: Las columnas q2 y q3 tienen valores nulos (22 y 46, respectivamente). En clasificación, si un piloto no llega a q2 o q3, el valor debería mantenerse como NaN en lugar de \N o vacío.
#### 3️⃣ Archivos que No Requieren Limpieza
`circuits.csv`, `constructors.csv`, `constructor_standings.csv`, `driver_standings.csv`, `lap_times.csv`, `pit_stops.csv`, `races.csv`, `results.csv`, `seasons.csv`, `sprint_results.csv`, `status.csv` están limpios y no presentan valores nulos.
#### 🛠 Acciones Recomendadas
- Reemplazar \N por NaN en constructor_results.csv, drivers.csv y qualifying.csv.
- Convertir number en drivers.csv a tipo int64, manejando los NaN.
- Verificar duplicados en todas las tablas para asegurar la calidad de la data.
- Revisar el formato de fechas en races.csv (asegurar que date y time estén correctamente tipificados).

## Data Cleaning

In [4]:
# Cargar los archivos CSV a limpiar
constructor_results = pd.read_csv('../data/constructor_results.csv')
drivers = pd.read_csv('../data/drivers.csv')
qualifying = pd.read_csv('../data/qualifying.csv')
races = pd.read_csv('../data/races.csv')

In [5]:
# Reemplazar \N por NaN en las columnas relevantes
constructor_results.replace(r'\\N', pd.NA, regex=True, inplace=True)
drivers.replace(r'\\N', pd.NA, regex=True, inplace=True)
qualifying.replace(r'\\N', pd.NA, regex=True, inplace=True)

In [6]:
# Convertir la columna 'number' de drivers a int64, manejando NaN
drivers['number'] = pd.to_numeric(drivers['number'], errors='coerce', downcast='integer')

In [7]:
# Verificar duplicados en todos los archivos y eliminarlos si es necesario
constructor_results.drop_duplicates(inplace=True)
drivers.drop_duplicates(inplace=True)
qualifying.drop_duplicates(inplace=True)
races.drop_duplicates(inplace=True)

##### Revisar las Fechas en `races.csv`
Asegurarse de que las columnas `date` y `time` en `races.csv` estén correctamente tipificadas. Para eso se puede convertirlas al tipo datetime.

In [9]:
# Convertir las columnas de fecha y hora a tipo datetime con formato específico
races['date'] = pd.to_datetime(races['date'], format='%Y-%m-%d', errors='coerce')
races['time'] = pd.to_datetime(races['time'], format='%H:%M:%S', errors='coerce')

In [11]:
# Guardar los archivos limpios
constructor_results.to_csv('../data/constructor_results_cleaned.csv', index=False)
drivers.to_csv('../data/drivers_cleaned.csv', index=False)
qualifying.to_csv('../data/qualifying_cleaned.csv', index=False)
races.to_csv('../data/races_cleaned.csv', index=False)

#### Verificacion Final

In [12]:
# Revisar los primeros registros de cada DataFrame para verificar que todo esté correcto
print(constructor_results.head())
print(drivers.head())
print(qualifying.head())
print(races.head())

# Verificar la presencia de NaN en las columnas importantes
print(constructor_results.isna().sum())
print(drivers.isna().sum())
print(qualifying.isna().sum())
print(races.isna().sum())

   constructorResultsId  raceId  constructorId  points status
0                     1      18              1    14.0   <NA>
1                     2      18              2     8.0   <NA>
2                     3      18              3     9.0   <NA>
3                     4      18              4     5.0   <NA>
4                     5      18              5     2.0   <NA>
   driverId   driverRef  number code  forename     surname         dob  \
0         1    hamilton    44.0  HAM     Lewis    Hamilton  1985-01-07
1         2    heidfeld     NaN  HEI      Nick    Heidfeld  1977-05-10
2         3     rosberg     6.0  ROS      Nico     Rosberg  1985-06-27
3         4      alonso    14.0  ALO  Fernando      Alonso  1981-07-29
4         5  kovalainen     NaN  KOV    Heikki  Kovalainen  1981-10-19

  nationality                                             url
0     British     http://en.wikipedia.org/wiki/Lewis_Hamilton
1      German      http://en.wikipedia.org/wiki/Nick_Heidfeld
2      German       http://en.wikipedia.org/wiki/Nico_Rosberg
3     Spanish    http://en.wikipedia.org/wiki/Fernando_Alonso
4     Finnish  http://en.wikipedia.org/wiki/Heikki_Kovalainen
   qualifyId  raceId  driverId  constructorId  number  position        q1  \
0          1      18         1              1      22         1  1:26.572
1          2      18         9              2       4         2  1:26.103
2          3      18         5              1      23         3  1:25.664
3          4      18        13              6       2         4  1:25.994
4          5      18         2              2       3         5  1:25.960

         q2        q3
0  1:25.187  1:26.714
1  1:25.315  1:26.869
2  1:25.452  1:27.079
3  1:25.691  1:27.178
4  1:25.518  1:27.236
   raceId  year  round  circuitId                   name       date  \
0       1  2009      1          1  Australian Grand Prix 2009-03-29
1       2  2009      2          2   Malaysian Grand Prix 2009-04-05
2       3  2009      3         17     Chinese Grand Prix 2009-04-19
3       4  2009      4          3     Bahrain Grand Prix 2009-04-26
4       5  2009      5          4     Spanish Grand Prix 2009-05-10

                 time                                                url  \
0 2025-03-20 06:00:00  http://en.wikipedia.org/wiki/2009_Australian_G...
1 2025-03-20 09:00:00  http://en.wikipedia.org/wiki/2009_Malaysian_Gr...
2 2025-03-20 07:00:00  http://en.wikipedia.org/wiki/2009_Chinese_Gran...
3 2025-03-20 12:00:00  http://en.wikipedia.org/wiki/2009_Bahrain_Gran...
4 2025-03-20 12:00:00  http://en.wikipedia.org/wiki/2009_Spanish_Gran...

  fp1_date fp1_time fp2_date fp2_time fp3_date fp3_time quali_date quali_time  \
0       \N       \N       \N       \N       \N       \N         \N         \N
1       \N       \N       \N       \N       \N       \N         \N         \N
2       \N       \N       \N       \N       \N       \N         \N         \N
3       \N       \N       \N       \N       \N       \N         \N         \N
4       \N       \N       \N       \N       \N       \N         \N         \N

  sprint_date sprint_time
0          \N          \N
1          \N          \N
2          \N          \N
3          \N          \N
4          \N          \N
constructorResultsId        0
raceId                      0
constructorId               0
points                      0
status                  12608
dtype: int64
driverId         0
driverRef        0
number         802
code           757
forename         0
surname          0
dob              0
nationality      0
url              0
dtype: int64
qualifyId           0
raceId              0
driverId            0
constructorId       0
number              0
position            0
q1                156
q2               4647
q3               6865
dtype: int64
raceId           0
year             0
round            0
circuitId        0
name             0
date             0
time           731
url              0
fp1_date         0
fp1_time         0
fp2_date         0
fp2_time         0
fp3_date         0
fp3_time         0
quali_date       0
quali_time       0
sprint_date      0
sprint_time      0
dtype: int64

todo bn :)